force-app/main/default/flows/ProjectCYProjectStatusClosed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CY_Send_Email_Project_Status_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>CYSendEmailProjectStatusClosed</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Project__c.CY_Send_Email_Project_Status_Closed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project__c.CY_Send_Email_Project_Status_Closed</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>CYSendEmailProjectStatusClosedTrue</label>
        </rules>
    </decisions>
    <description>Sends an email for every project closed</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
ISCHANGED([Project__c].ProjectStatus__c),
ISPICKVAL([Project__c].ProjectStatus__c, &quot;Closed&quot;),
[Project__c].CYSendEmailProjectStatusClosed__c =true
)
,
AND(
ISPICKVAL([Project__c].ProjectStatus__c, &quot;Closed&quot;),
ISCHANGED([Project__c].CYSendEmailProjectStatusClosed__c),
[Project__c].CYSendEmailProjectStatusClosed__c =true
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISCHANGED({!myVariable_current.ProjectStatus__c}),
ISPICKVAL({!myVariable_current.ProjectStatus__c}, &quot;Closed&quot;),
{!myVariable_current.CYSendEmailProjectStatusClosed__c} =true
)
,
AND(
ISPICKVAL({!myVariable_current.ProjectStatus__c}, &quot;Closed&quot;),
ISCHANGED({!myVariable_current.CYSendEmailProjectStatusClosed__c}),
{!myVariable_current.CYSendEmailProjectStatusClosed__c} =true
)
)</expression>
    </formulas>
    <interviewLabel>ProjectCYProjectStatusClosed-4_InterviewLabel</interviewLabel>
    <label>ProjectCYProjectStatusClosed</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Project__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
