force-app/main/default/flows/RTF_Project_BeforeSave_ForecastMoveMonth.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>When RollForecast__c is true, rotates all monthly forecast fields forward by one month (Dec goes to Jan) and resets the flag. Migrated from Process Builder ProjectForecastMoveMonth.</description>
    <environments>Default</environments>
    <interviewLabel>RTF_Project_BeforeSave_ForecastMoveMonth {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_Project_BeforeSave_ForecastMoveMonth</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <variables>
        <name>var_Jan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Feb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Mar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Apr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_May</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Jun</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Jul</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Aug</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Sep</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Oct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Nov</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>var_Dec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <assignments>
        <name>Capture_Original_Values</name>
        <label>Capture Original Month Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Jan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.JanForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Feb</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FebForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Mar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MarForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Apr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AprForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_May</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MayForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Jun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.JunForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Jul</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.JulForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Aug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AugForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Sep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SepForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Oct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OctForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Nov</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NovForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Dec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DecForecast__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shift_And_Reset</targetReference>
        </connector>
    </assignments>
    <recordUpdates>
        <name>Shift_And_Reset</name>
        <label>Shift Forecasts and Reset Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>JanForecast__c</field>
            <value>
                <elementReference>var_Dec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FebForecast__c</field>
            <value>
                <elementReference>var_Jan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarForecast__c</field>
            <value>
                <elementReference>var_Feb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AprForecast__c</field>
            <value>
                <elementReference>var_Mar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MayForecast__c</field>
            <value>
                <elementReference>var_Apr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JunForecast__c</field>
            <value>
                <elementReference>var_May</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JulForecast__c</field>
            <value>
                <elementReference>var_Jun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AugForecast__c</field>
            <value>
                <elementReference>var_Jul</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SepForecast__c</field>
            <value>
                <elementReference>var_Aug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OctForecast__c</field>
            <value>
                <elementReference>var_Sep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NovForecast__c</field>
            <value>
                <elementReference>var_Oct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecForecast__c</field>
            <value>
                <elementReference>var_Nov</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RollForecast__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Capture_Original_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RollForecast__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>