force-app/main/default/flows/RTF_UpdateBillingAccountDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>    <decisions>
        <name>Dec_ValuesDifferent</name>
        <label>Dec_ValuesDifferent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_InvoiceReceiver_Billing_Fields</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Tx_Update_Billing.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.InvoiceReceiver__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingCountry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAddressCountry__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingAddressLine3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAddressAddition__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAdressCity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingPoBox__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAddressPOBox__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAddressState__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingStreetNr__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAddressStreetNr__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tx_Update_Billing.BillingZip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingAddressZIP__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Invoice_Receiver</targetReference>
            </connector>
            <label>Update InvoiceReceiver Billing Fields</label>
        </rules>
    </decisions>
    <description>When Billing information is updated on the invoice, update the Invoice Receiver Record. (BLC108)</description>
    <environments>Default</environments>
    <interviewLabel>RTF_UpdateBillingAccountDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_UpdateBillingAccountDetails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Invoice_Receiver</name>
        <label>update Invoice Receiver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Tx_Update_Billing</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tx_Update_Billing</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingAddressAddition__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingAddressCountry__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingAddressPOBox__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingAddressState__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingAddressStreetNr__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingAddressZIP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingNameAddition__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountNameLegal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingAdressCity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Tx_Update_Billing</name>
        <label>Tx Update Billing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dec_ValuesDifferent</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>BillingCountry__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAddressCountry__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingPoBox__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAddressPOBox__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingStreetNr__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAddressStreetNr__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingZip__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAddressZIP__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingState__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAddressState__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingCity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAdressCity__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.InvoiceReceiver__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingAddressLine3__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.BillingAddressAddition__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
