force-app/main/default/flows/RTF_Invoice_AfterSave_UpdateCancellationTotalAmountNetCHF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the total cancellation Amount</description>
        <name>Set_CancellationAmount1</name>
        <label>Set_CancellationAmount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CancellationTotalAmountNetCHF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_TotalAmountNet</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_CancellationInvoiceRelationAmount</name>
        <label>Set_CancellationInvoiceRelationAmount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_CancellationInvoiceRelationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cancellation_Invoice_Relation.InvoiceTotalAmountNetCHF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_CancellationAmount1</targetReference>
        </connector>
    </assignments>
    <description>This Flow is used to update the Cancellation Total Amount Net CHF.  Updated to before Save flow</description>
    <environments>Default</environments>
    <formulas>
        <name>form_TotalAmountNet</name>
        <dataType>Number</dataType>
        <expression>-1 * {!v_CancellationInvoiceRelationAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RTF_Invoice_BeforeSave_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_Invoice_BeforeSave_UpdateCancellationTotalAmountNetCHF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cancellation_Invoice_Relation</name>
        <label>Get Cancellation Invoice Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CancellationInvoiceRelationAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CancellationInvoiceRelation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvoiceTotalAmountNetCHF__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cancellation_Invoice_Relation</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} = &quot;Cancellation&quot;</filterFormula>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Total net amount (CHF) of the Invoice being cancelled.</description>
        <name>v_CancellationInvoiceRelationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
