force-app/main/default/flows/ScreenFlowInvoiceButton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_Service_Create_or_cancel_invoices</name>
        <label>Invoice Service. Create or cancel invoices</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <actionName>InvoiceInvocableService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>service</name>
            <value>
                <elementReference>v_InvoiceType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvoiceInvocableService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_InvoiceCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>usercoll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Invoice Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.Invoice_Generation_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSIGN_Billing_Address_City_To_Error_Message</name>
        <label>ASSIGN_Billing Address City To Error Message</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.BillingAddressCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Project_Name_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Billing_Address_Street_Nr_To_Error_Message</name>
        <label>ASSIGN_Billing Address Street Nr To Error Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.BillingAddressStreetNr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Billing_Address_ZIP_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Billing_Address_ZIP_To_Error_Message</name>
        <label>ASSIGN_Billing Address ZIP To Error Message</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!$Label.BillingAddressZIP}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Billing_Address_City_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_COST_CENTER_IBAN_To_Error_Message</name>
        <label>ASSIGN_COST CENTER IBAN To Error Message</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.IBAN_CostCenter_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_IBAN_To_Error_Message</name>
        <label>ASSIGN_IBAN To Error Message</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.IBAN_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_COST_CENTER_IBAN_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Project_Invoice_Currency_To_Error_Message</name>
        <label>ASSIGN_Project Invoice Currency To Error Message</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.ProjectInvoiceCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_IBAN_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Project_Name_To_Error_Message</name>
        <label>ASSIGN_Project Name To Error Message</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_txtErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Project_Invoice_Currency_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_User</name>
        <label>ASSIGN_User</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>usercoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Service_Create_or_cancel_invoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Billing_Address_City_Null</name>
        <label>DEC_Billing Address City Null?</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>DEC_Project_Name_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESBillingAddressCityNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.BillingAdressCity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Billing_Address_City_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Billing_Address_Street_Nr_Null</name>
        <label>DEC_Billing Address Street Nr Null?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DEC_Billing_Address_ZIP_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESNullBillingAddressStreetNr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.BillingAddressStreetNr__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Billing_Address_Street_Nr_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Billing_Address_ZIP_Null</name>
        <label>DEC_Billing Address ZIP Null?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>DEC_Billing_Address_City_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESBillingAddressZIPNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.BillingAddressZIP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Billing_Address_ZIP_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Check_Null_Fields</name>
        <label>DEC_Check Null Fields?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GET_InvoiceCustomNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT NULL</defaultConnectorLabel>
        <rules>
            <name>NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.BillingAddressStreetNr__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Invoice_Record.BillingAddressZIP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Invoice_Record.ProjectInvoiceCurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Invoice_Record.BillingAdressCity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Invoice_Record.ProjectName__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Invoice_Record.IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Invoice_Record.ProjectCostCenter__r.CHFQRIBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Billing_Address_Street_Nr_Null</targetReference>
            </connector>
            <label>NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_COST_CENTER_IBAN_Null</name>
        <label>DEC_COST CENTER IBAN Null?</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.ProjectCostCenter__r.CHFQRIBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_COST_CENTER_IBAN_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_IBAN_Null</name>
        <label>DEC_IBAN Null?</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>DEC_COST_CENTER_IBAN_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESIBANNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_IBAN_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Project_Invoice_Currency_Null</name>
        <label>DEC_Project Invoice Currency Null?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>DEC_IBAN_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESProjectInvoiceCurrencyNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.ProjectInvoiceCurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Project_Invoice_Currency_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Project_Name_Null</name>
        <label>DEC_Project Name Null?</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>DEC_Project_Invoice_Currency_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESProjectNameNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Invoice_Record.ProjectName__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Project_Name_To_Error_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Adding validation for the Cost Center CHF QR IBAN field</description>
    <dynamicChoiceSets>
        <name>InvoiceTemplatesRecordSet</name>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <object>Invoice_Template__mdt</object>
        <outputAssignments>
            <assignToReference>v_costCenter</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TemplateChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DynaDocTemplate__c</object>
        <outputAssignments>
            <assignToReference>v_TemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>errorMessagePartialText</name>
        <dataType>String</dataType>
        <expression>IF({!v_count}&gt;1, &quot;fields are populated&quot;, &quot;field is populated&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_FieldsNullValidation</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNULL({!$Organization.Name})),
NOT(ISNULL({!$Organization.PostalCode})),
NOT(ISNULL({!$Organization.City}))
)</expression>
    </formulas>
    <formulas>
        <name>f_finalErrorMsgScreen</name>
        <dataType>String</dataType>
        <expression>LEFT({!v_txtErrorMessage}, LEN({!v_txtErrorMessage}) - 2)</expression>
    </formulas>
    <interviewLabel>ScreenFlowInvoiceButton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlowInvoiceButton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_Invoice_Record</name>
        <label>GET_Invoice Record</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Check_Null_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_InvoiceCustomNotification</name>
        <label>GET_InvoiceCustomNotification</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Invoice_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>182</locationX>
        <locationY>2450</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessageScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please ensure that {!f_finalErrorMsgScreen} {!errorMessagePartialText} and try it again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Invoice_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usercoll</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_costCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_InvoiceType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_nullFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_txtErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
