force-app/main/default/flows/SupplierCostsAutoFill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from Process Builder: SupplierCostsAutoFill</description>
    <label>SupplierCostsAutoFill</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <formulas>
        <name>CostsGrossCHF</name>
        <dataType>Number</dataType>
        <scale>18</scale>
        <expression>IF($Record.DocCode__c = &quot;F&quot;, $Record.AbacusGross__c * $Record.LocalCurrencyToCHF__c, $Record.AbacusGross__c * $Record.LocalCurrencyToCHF__c * -1)</expression>
    </formulas>
    <formulas>
        <name>CostsGrossLocal</name>
        <dataType>Number</dataType>
        <scale>18</scale>
        <expression>IF($Record.DocCode__c = &quot;F&quot;, IF($Record.LocalCurrency__c = $Record.CurrencyIsoCode, $Record.AbacusGross__c, $Record.AbacusGross__c * $Record.LocalCurrencyToCHF__c / $Record.CurrencyRateToCHF__c), IF($Record.LocalCurrency__c = $Record.CurrencyIsoCode, $Record.AbacusGross__c * -1, $Record.AbacusGross__c * $Record.LocalCurrencyToCHF__c / $Record.CurrencyRateToCHF__c * -1))</expression>
    </formulas>
    <formulas>
        <name>CostsNetCHF</name>
        <dataType>Number</dataType>
        <scale>18</scale>
        <expression>IF($Record.DocCode__c = &quot;F&quot;, $Record.AbacusNet__c * $Record.LocalCurrencyToCHF__c, $Record.AbacusNet__c * $Record.LocalCurrencyToCHF__c * -1)</expression>
    </formulas>
    <formulas>
        <name>CostsNetLocal</name>
        <dataType>Number</dataType>
        <scale>18</scale>
        <expression>IF($Record.DocCode__c = &quot;F&quot;, IF($Record.LocalCurrency__c = $Record.CurrencyIsoCode, $Record.AbacusNet__c, $Record.AbacusNet__c * $Record.LocalCurrencyToCHF__c / $Record.CurrencyRateToCHF__c), IF($Record.LocalCurrency__c = $Record.CurrencyIsoCode, $Record.AbacusNet__c * -1, $Record.AbacusNet__c * $Record.LocalCurrencyToCHF__c / $Record.CurrencyRateToCHF__c * -1))</expression>
    </formulas>
    <formulas>
        <name>ServiceNetPM</name>
        <dataType>Number</dataType>
        <scale>18</scale>
        <expression>IF($Record.DocCode__c = &quot;F&quot;, IF($Record.LocalCurrency__c = $Record.ProjektName__r.CurrencyIsoCode, $Record.AbacusNet__c, $Record.AbacusNet__c * $Record.LocalCurrencyToCHF__c / $Record.CurrencyRateToCHF__c), IF($Record.LocalCurrency__c = $Record.ProjektName__r.CurrencyIsoCode, $Record.AbacusNet__c * -1, $Record.AbacusNet__c * $Record.LocalCurrencyToCHF__c / $Record.CurrencyRateToCHF__c * -1))</expression>
    </formulas>
    <decisions>
        <name>checkNetPMNull</name>
        <label>Check Net PM Is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Null - Skip</defaultConnectorLabel>
        <rules>
            <name>netPMIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceSupplierCostsNetPM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>updateNetPM</targetReference></connector>
            <label>Net PM Is Null</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>updateCosts</name>
        <label>CostsSupplierCostsNet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>checkNetPMNull</targetReference></connector>
        <inputAssignments>
            <field>CostsSupplierCostsGrossCHF__c</field>
            <value><elementReference>CostsGrossCHF</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>CostsSupplierCostsGross__c</field>
            <value><elementReference>CostsGrossLocal</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>CostsSupplierCostsNetCHF__c</field>
            <value><elementReference>CostsNetCHF</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>CostsSupplierCostsNet__c</field>
            <value><elementReference>CostsNetLocal</elementReference></value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateNetPM</name>
        <label>CostSupplierCostsNetPM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ServiceSupplierCostsNetPM__c</field>
            <value><elementReference>ServiceNetPM</elementReference></value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>updateCosts</targetReference></connector>
        <object>SupplierCosts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
