force-app/main/default/flows/SupplierCostsAutoFill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>SupplierCostsAutoFill</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(
AND(
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;,
[SupplierCosts__c].LocalCurrency__c =TEXT([SupplierCosts__c].ProjectCurrency__c )
),
[SupplierCosts__c].AbacusSupplierCostsNet__c ,

If(
AND(
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;,
[SupplierCosts__c].LocalCurrency__c &lt;&gt;TEXT([SupplierCosts__c].ProjectCurrency__c )
),
 [SupplierCosts__c].AbacusSupplierCostsNet__c*[SupplierCosts__c].LocalCurrencyToCHF__c /[SupplierCosts__c].CurrencyRateToCHF__c  
,

if(
AND(
[SupplierCosts__c].DocumentCode__c =&quot;G&quot;,
[SupplierCosts__c].LocalCurrency__c =TEXT([SupplierCosts__c].ProjectCurrency__c )
),
[SupplierCosts__c].AbacusSupplierCostsNet__c*-1,

If(
AND(
[SupplierCosts__c].DocumentCode__c =&quot;G&quot;,
[SupplierCosts__c].LocalCurrency__c &lt;&gt;TEXT([SupplierCosts__c].ProjectCurrency__c )
),
 [SupplierCosts__c].AbacusSupplierCostsNet__c *[SupplierCosts__c].LocalCurrencyToCHF__c/[SupplierCosts__c].CurrencyRateToCHF__c*-1 
,0))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_8720332414</name>
        <dataType>Number</dataType>
        <expression>if(
AND(
{!myVariable_current.DocumentCode__c} =&quot;F&quot;,
{!myVariable_current.LocalCurrency__c} =TEXT({!myVariable_current.ProjectCurrency__c} )
),
{!myVariable_current.AbacusSupplierCostsNet__c} ,

If(
AND(
{!myVariable_current.DocumentCode__c} =&quot;F&quot;,
{!myVariable_current.LocalCurrency__c} &lt;&gt;TEXT({!myVariable_current.ProjectCurrency__c} )
),
 {!myVariable_current.AbacusSupplierCostsNet__c}*{!myVariable_current.LocalCurrencyToCHF__c} /{!myVariable_current.CurrencyRateToCHF__c}  
,

if(
AND(
{!myVariable_current.DocumentCode__c} =&quot;G&quot;,
{!myVariable_current.LocalCurrency__c} =TEXT({!myVariable_current.ProjectCurrency__c} )
),
{!myVariable_current.AbacusSupplierCostsNet__c}*-1,

If(
AND(
{!myVariable_current.DocumentCode__c} =&quot;G&quot;,
{!myVariable_current.LocalCurrency__c} &lt;&gt;TEXT({!myVariable_current.ProjectCurrency__c} )
),
 {!myVariable_current.AbacusSupplierCostsNet__c} *{!myVariable_current.LocalCurrencyToCHF__c}/{!myVariable_current.CurrencyRateToCHF__c}*-1 
,0))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;,
[SupplierCosts__c].AbacusSupplierCostsGross__c *[SupplierCosts__c].LocalCurrencyToCHF__c ,
[SupplierCosts__c].AbacusSupplierCostsGross__c *[SupplierCosts__c].LocalCurrencyToCHF__c *-1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3065030379</name>
        <dataType>Number</dataType>
        <expression>if(
{!myVariable_current.DocumentCode__c} =&quot;F&quot;,
{!myVariable_current.AbacusSupplierCostsGross__c} *{!myVariable_current.LocalCurrencyToCHF__c} ,
{!myVariable_current.AbacusSupplierCostsGross__c} *{!myVariable_current.LocalCurrencyToCHF__c} *-1)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(
AND(
[SupplierCosts__c].LocalCurrency__c =TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;
),
[SupplierCosts__c].AbacusSupplierCostsGross__c,

if(
AND(
[SupplierCosts__c].LocalCurrency__c &lt;&gt;TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;
),
[SupplierCosts__c].AbacusSupplierCostsGross__c *[SupplierCosts__c].LocalCurrencyToCHF__c /[SupplierCosts__c].CurrencyRateToCHF__c  ,

if(
AND(
[SupplierCosts__c].LocalCurrency__c =TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;G&quot;
),
[SupplierCosts__c].AbacusSupplierCostsGross__c*-1,

if(
AND(
[SupplierCosts__c].LocalCurrency__c &lt;&gt;TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;G&quot;
),
[SupplierCosts__c].AbacusSupplierCostsGross__c *[SupplierCosts__c].LocalCurrencyToCHF__c /[SupplierCosts__c].CurrencyRateToCHF__c *-1 ,0
))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_9992393960</name>
        <dataType>Number</dataType>
        <expression>if(
AND(
{!myVariable_current.LocalCurrency__c} =TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;F&quot;
),
{!myVariable_current.AbacusSupplierCostsGross__c},

if(
AND(
{!myVariable_current.LocalCurrency__c} &lt;&gt;TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;F&quot;
),
{!myVariable_current.AbacusSupplierCostsGross__c} *{!myVariable_current.LocalCurrencyToCHF__c} /{!myVariable_current.CurrencyRateToCHF__c}  ,

if(
AND(
{!myVariable_current.LocalCurrency__c} =TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;G&quot;
),
{!myVariable_current.AbacusSupplierCostsGross__c}*-1,

if(
AND(
{!myVariable_current.LocalCurrency__c} &lt;&gt;TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;G&quot;
),
{!myVariable_current.AbacusSupplierCostsGross__c} *{!myVariable_current.LocalCurrencyToCHF__c} /{!myVariable_current.CurrencyRateToCHF__c} *-1 ,0
))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;,
[SupplierCosts__c].AbacusSupplierCostsNet__c *[SupplierCosts__c].LocalCurrencyToCHF__c ,
[SupplierCosts__c].AbacusSupplierCostsNet__c *[SupplierCosts__c].LocalCurrencyToCHF__c *-1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_2385813326</name>
        <dataType>Number</dataType>
        <expression>if(
{!myVariable_current.DocumentCode__c} =&quot;F&quot;,
{!myVariable_current.AbacusSupplierCostsNet__c} *{!myVariable_current.LocalCurrencyToCHF__c} ,
{!myVariable_current.AbacusSupplierCostsNet__c} *{!myVariable_current.LocalCurrencyToCHF__c} *-1)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(
AND(
[SupplierCosts__c].LocalCurrency__c =TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;
),
[SupplierCosts__c].AbacusSupplierCostsNet__c,

if(
AND(
[SupplierCosts__c].LocalCurrency__c &lt;&gt;TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;F&quot;
),
[SupplierCosts__c].AbacusSupplierCostsNet__c *[SupplierCosts__c].LocalCurrencyToCHF__c /[SupplierCosts__c].CurrencyRateToCHF__c  ,

if(
AND(
[SupplierCosts__c].LocalCurrency__c =TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;G&quot;
),
[SupplierCosts__c].AbacusSupplierCostsNet__c*-1,

if(
AND(
[SupplierCosts__c].LocalCurrency__c &lt;&gt;TEXT([SupplierCosts__c].ProjectCurrency__c ),
[SupplierCosts__c].DocumentCode__c =&quot;G&quot;
),
[SupplierCosts__c].AbacusSupplierCostsNet__c *[SupplierCosts__c].LocalCurrencyToCHF__c /[SupplierCosts__c].CurrencyRateToCHF__c *-1 ,0
))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_2288741907</name>
        <dataType>Number</dataType>
        <expression>if(
AND(
{!myVariable_current.LocalCurrency__c} =TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;F&quot;
),
{!myVariable_current.AbacusSupplierCostsNet__c},

if(
AND(
{!myVariable_current.LocalCurrency__c} &lt;&gt;TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;F&quot;
),
{!myVariable_current.AbacusSupplierCostsNet__c} *{!myVariable_current.LocalCurrencyToCHF__c} /{!myVariable_current.CurrencyRateToCHF__c}  ,

if(
AND(
{!myVariable_current.LocalCurrency__c} =TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;G&quot;
),
{!myVariable_current.AbacusSupplierCostsNet__c}*-1,

if(
AND(
{!myVariable_current.LocalCurrency__c} &lt;&gt;TEXT({!myVariable_current.ProjectCurrency__c} ),
{!myVariable_current.DocumentCode__c} =&quot;G&quot;
),
{!myVariable_current.AbacusSupplierCostsNet__c} *{!myVariable_current.LocalCurrencyToCHF__c} /{!myVariable_current.CurrencyRateToCHF__c} *-1 ,0
))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>SupplierCostsAutoFill-15_InterviewLabel</interviewLabel>
    <label>SupplierCostsAutoFill</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SupplierCosts__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SupplierCosts__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>CostsSupplierCostsNet</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Costs - Supplier Costs Gross (CHF)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CostsSupplierCostsGrossCHF__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_3065030379</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Costs - Supplier Costs Gross</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CostsSupplierCostsGross__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_9992393960</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Costs -  Supplier Costs Net (CHF)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CostsSupplierCostsNetCHF__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_2385813326</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Costs - Supplier Costs Net</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CostsSupplierCostsNet__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_2288741907</elementReference>
            </value>
        </inputAssignments>
        <object>SupplierCosts__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SupplierCosts__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>CostSupplierCostsNetPM</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Service -  Supplier Costs Net (PM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>ServiceSupplierCostsNetPM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Service -  Supplier Costs Net (PM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ServiceSupplierCostsNetPM__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_8720332414</elementReference>
            </value>
        </inputAssignments>
        <object>SupplierCosts__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SupplierCosts__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SupplierCosts__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
